$arial-font: 'Arial', sans-serif;
$impact-font: 'Impact', sans-serif;
$damian-font: 'Damian';
$black: #000;
$mustard-yellow: #B8860B;
$white: #fff;
$light-grey: #EEE;
$regular-grey: #CCC;
$medium-grey: #999;
$dark-grey: #666;
$text-shadow: #333;
$bright-blue: #4169E1;
$bright-yellow: #FFD700;
$bg-black: #212121;
$pale-purple: #CCD;